@model IList<User>

<div class="row row-cols-1 row-cols-md-1 g-3 mb-3">
    <div class="col">
        <div class="card bg-dark border-highlight h-100">
            <div class="card-body overflow-x-scroll">
                <h5 class="card-title">
                    <div class="flex-fill">Column Render Example</div>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">Simple Example with the password column masked</h6>
                <p class="card-text">
                    <table id="columnRenderDemoTable" class="table table-dark table-hover" style="width: 100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model[0].Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model[0].Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model[0].Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model[0].UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model[0].Password)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Password)
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="5">
                                    <div id="columnRenderDemoMenu" data-crud-table="columnRenderDemoTable" data-crud-index="id">
                                    </div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </p>
            </div>
        </div>
    </div>
</div>