@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>DataTables</h1>

<div class="row row-cols-1 row-cols-md-1 g-3 mb-3">
    <div class="col">
        <div class="card bg-dark border-highlight h-100">
            <div class="card-body">
                <h5 class="card-title">
                    <div class="flex-fill">DataTables Basic Example</div>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">Simple Example with default options</h6>
                <p class="card-text">
                    <table id="usertable" class="table">
                        <thead>
                            <tr>
                                <th colspan="5">
                                    <a asp-page="Create"><i class="bi bi-plus-circle bi-options-font"></i></a>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserDto[0].Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserDto[0].Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserDto[0].UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserDto[0].Password)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.UserDto)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Password)
                                    </td>
                                    <td>
                                        <a asp-page="/Edit" asp-route-id="@item.Id"><i class="bi bi-pencil bi-options-font"></i></a>
                                        <a asp-page="/Details" asp-route-id="@item.Id"><i class="bi bi-view-list bi-options-font"></i></a>
                                        <a asp-page="/Delete" asp-route-id="@item.Id"><i class="bi bi-x-circle bi-options-font"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
</div>



@section Scripts
    {
    <script src="~/lib/datatables.net/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/datatables.bootstrap5.min.js"></script>
    <script src="~/js/datatables-index.js" asp-append-version="true"></script>
}
